@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
body {
  background-color: #ffffff;
  font-family: "Mukta", sans-serif;
}
h2 {
  width: 100%;
  font-size: 90px;
  font-weight: 300;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containertext {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.containertext span {
  color: rgb(40, 217, 230);
}
.image {
  width: 50%;

  margin-top: 2rem;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 60%;
    height: 60%;
  }
}
